.formInput {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

label {
    flex: 1;
    padding-top: 8px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.textInput {
    width: 250px;
}

